
<article>
    <h1>Le Lotus d'Or</h1>
    <h3>Le Lotus d'Or à Hastière vous accueille chaleureusement dans un cadre enchanteur</h3>
    <p>Le restaurant Le Lotus d'Or a le plaisir de vous accueillir avec enthousiasme dans son nouvel établissement situé à Hastière.</p>
    <ul>
        <li>Nous proposons un service de buffet à volonté pouvant accueillir jusqu'à environ 200 convives.</li>
        <li>Un restaurant spécialement réservé à l'expérience de la gastronomie chinoise.</li>
        <li>Des soirées dansantes sont organisées les week-ends.</li>
        <li>Nous proposons également une sélection de délicieux plats à emporter adaptés à toute la famille.</li>
    </ul>
    <div class>
        <h3>Une Introduction à la Cuisine Chinoise</h3>
        <p>La cuisine chinoise jouit d'une réputation mondiale grâce à sa richesse en saveurs, qui varient d'une région à l'autre. L'aspect régional revêt donc une importance fondamentale dans cette cuisine, donnant lieu à une multitude de distinctions locales. Parmi les huit grandes traditions culinaires chinoises les plus notables figurent Shandong, Jiangsu, Anhui, Zhejiang, Fujian, Guangdong, Hunan et Sichuan.</p>

        <p>En fonction de la géographie, des conditions climatiques, de la disponibilité des ressources, de la diversité des ingrédients ainsi que de la variété des épices et des condiments, les huit grandes cuisines régionales peuvent être regroupées, d'une manière quelque peu arbitraire, en quatre principales familles culinaires</p>

        <p>La cuisine Shandong, l'une des plus anciennes traditions culinaires chinoises, est reconnue pour sa technique de cuisson historique. Elle se caractérise par son opulence, avec des saveurs puissantes telles que l'ail, le vinaigre et la sauce soja, qui lui valent la réputation d'être la 'Cuisine des Rois</p>

        <p>La cuisine Sichuan est célèbre pour sa palette de saveurs épicées et relevées. Cette caractéristique découle de l'utilisation fondamentale d'ingrédients tels que le piment, le poivre et le gingembre, qui sont indispensables en raison du climat humide de la région. Le poivre de Sichuan, en particulier, jouit d'une renommée mondiale.</p>

        <p>La cuisine de Shanghai se distingue par son utilisation abondante de produits aquatiques, notamment des poissons et des crustacés d'eau douce, qui confèrent aux plats un goût frais et léger. Cette tradition culinaire est également marquée par l'utilisation de l'alcool de riz et du sucre dans la préparation de ses mets</p>

        <p>La cuisine cantonaise est connue pour son développement relativement tardif et sa sélection d'ingrédients exceptionnellement raffinés. Un adage populaire décrit les habitudes alimentaires des Cantonais en disant que 'Les Cantonais consomment pratiquement tout ce qui vole dans le ciel, à l'exception des avions, ainsi que tout ce qui rampe, sauf les trains. Ils apprécient tout ce qui a quatre pattes, excepté les tables, et tout ce qui nage, à l'exception des sous-marins...</p>

        <p>En résumé,les cuisines du nord se caractérisent par leur saveur salée, celles du sud par leur douceur sucrée, celles de l'est par leur acidité, et celles de l'ouest par leur caractère épicé, le tout toujours accompagné de riz.</p>

        <p>Chez Le Lotus d'Or, notre restaurant attache une importance primordiale à l'interaction entre la gastronomie et la culture. Nous nous efforçons de créer une synergie entre les quatre grandes familles culinaires tout en équilibrant les ingrédients et les condiments. Cette approche se traduit par une diversité remarquable de couleurs, de formes, d'arômes, de saveurs et de textures. Nos choix d'ingrédients, de méthodes de cuisson et d'utilisation des épices sont guidés par ce principe. Forts de notre expertise dans la maîtrise des cinq saveurs de base (sucré, salé, acide, amer et épicé) ainsi que de nos compétences culinaires, nous nous engageons à créer une harmonie dans chaque plat de la cuisine chinoise.</p>
    </div>
</article>
