<form method="post">
    <div>
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" required>
    </div>
    <div>
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" id="prenom" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="note">La note</label>
        <input type="number" name="note" id="note" min="0" max="10" required>
    </div>
    <div>
        <label for="message">Message</label>
        <textarea name="message" id="message" minlength="10" maxlength="300" required></textarea>
    </div>
    <div>
        <button type="submit">Envoyer</button>
    </div>
</form>

