<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include("fragments/head.ejs"); %>
    </head>
    <body>
        <header>
            <%- include("fragments/navbar.ejs"); %> 
        </header>
        <div class="container">
        <main>
            
                <%- include(page); %> 
            
        </main>
        <%- include("fragments/footer.ejs"); %>
    </div>
    </body>
</html>