<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include("fragments/head.ejs"); %>
    </head>
    <body>
        <%- include("fragments/navbar.ejs"); %> 
        <%- include(page); %> 
        <%- include("fragments/footer.ejs"); %>
    </body>
</html>