<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <nav> 
            <a href="/menu">Menus</a>  
            <a href="/about">À propos</a>
            <a href='/comment'>Commentaires clients</a> 
            <a href='/comment/add'>Votre commentaire</a>
        </nav>
    </body>
</html>