<div class="item"></div>
<section class="section">
<article class="home">
    <h1>Le lotus d'or</h1>
        <h3>Découvrez l'excellence culinaire au Lotus d'Or</h3>

            <p>Bienvenue au Lotus d'Or, une oasis de saveurs exquises nichée au cœur de Hastière. Notre restaurant chinois est une célébration de la cuisine authentique de l'Empire du Milieu, où chaque plat est une œuvre d'art gustative, créée avec soin et passion.</p>
    <section class="voyage">
        <h3>Un Voyage Culinaire Inoubliable</h3>

            <p>Notre menu varié vous invite à un voyage culinaire inoubliable à travers la Chine. Des saveurs du nord salées aux délices sucrés du sud,</p>
        </section>
</article>
</section>
