/* Styles de base pour le conteneur */
.container {
  display: flex;
  flex-direction: column; /* Affiche les éléments en colonne */
  align-items: center; /* Centre le contenu horizontalement */
  background-color: #890000; /* Couleur de fond */
  padding: 20px; /* Espace intérieur du conteneur */
}
/* Styles de base pour le menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Occupe toute la largeur de la page */
  background-color: #890000; /* Couleur de fond */
  padding: 20px; /* Espace intérieur du menu */
  text-align: center; /* Centre le contenu du menu horizontalement */
  z-index: 1; /* Assure que le menu est en premier plan */
}

/* Styles pour les éléments du menu */
.menu a {
  color: #fff; /* Couleur du texte */
  text-decoration: none; /* Supprime les soulignements des liens */
  display: inline-block; /* Affiche les éléments côte à côte */
  margin-right: 20px; /* Espacement entre les éléments du menu */
  padding: 10px 20px; /* Espacement à l'intérieur des éléments du menu */
  border: 1px solid #fff; /* Bordure avec couleur de base */
  transition: background-color 0.3s; /* Animation de changement de couleur au survol */
}

/* Style au survol de l'élément du menu */
.menu a:hover {
  background-color: #a58989; /* Couleur de fond au survol */
}

/* Style au clic sur l'élément du menu */
/* .menu a.active {
  background-color: #f00; /* Couleur de fond au clic */
  /* color: #fff; Couleur du texte au clic */
/* } */ 

article {
  position: relative; /* Permet d'utiliser la position absolue pour placer l'article */
  top: 100px; /* Ajustez la valeur en fonction de la hauteur de votre menu */
  padding: 5px; /* Espace intérieur de l'article */
  text-align: center; /* Centre le contenu de l'article horizontalement */
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(255, 248, 240);
  text-align: left; /* Alignement du texte à gauche */
}
p {
  
  margin: 0px 10px 0px 10px;
  margin: 0px 5px 0px 5px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  color: black;
}

h1 {
  color: brown;
  width: 500px;
  height: 30px;
  margin: 0px 5px 0px 5px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: rgb(106, 16, 16);
  width: 500px;
  height: 50px;
  margin: 0px 5px 0px 5px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: left;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

head,
body{

/* Media query pour les écrans de largeur moyenne (par exemple, tablettes) */
@media screen and (max-width: 768px) {
  p {
    font-size: 16px; /* Ajustement de la taille de la police pour les écrans moyens */
  }

  .container {
    width: auto; /* Ajustement la largeur pour les écrans moyens */
    font-size: 20px; /* Ajustement de la taille de la police pour les écrans moyens */
  }
  h1,
  h3 {
    width: auto; /* Ajustement la largeur pour les écrans moyens */
    font-size: 20px; /* Ajustement de la taille de la police pour les écrans moyens */
  }

}

/* Media query pour les écrans étroits (par exemple, smartphones) */
@media screen and (max-width: 480px) {
  p {
    font-size: 14px; /* Réducton de  la taille de la police pour les écrans étroits */
  }

  .container{
    width: 480px; /* Ajustement de la largeur pour les écrans étroits */
    font-size: 18px; /* Réducton de  la taille de la police pour les écrans étroits */
  }

  h1,
  h3 {
    width: 480px; /* Ajustement de la largeur pour les écrans étroits */
    font-size: 18px; /* Réducton de  la taille de la police pour les écrans étroits */
  }

}
}