
@import url("normalize.css");

html, body {
  padding: 0;
  margin :0;
}

nav {
  background-color: #b71c1c; 
  color: white; 
  text-align: center; 
  padding: 1.5rem 1rem; 
  margin: 0px; 
}

/* Style du bouton au survol et au clic */
nav a {
  background-color: #b71c1c; 
  color: white; 
  border: 2px solid white; 
  padding: 5px 10px; 
  margin: 5px 10px; 
  cursor: pointer;
}

/* Style du bouton une fois cliqué */
nav a:active {
  background-color: #ffcdd2; 
  color: black; 
}