<nav class="nav a">
        <a href="/">Accueil</a>
        <a href="/about">A propos</a>   
        <a href="/menu">Menus</a> 
        <a href="/comment">Commentaires</a> 
        <a href="/comment/add">Votre commentaire</a>   
</nav>